header {
    height: 80px;
    
}


header a {
    display: block;
    color:  rgb(119, 14, 36) !important;
    font-size: 20px;
}

header .menucontatos a {
    color: blue !important;
}

#home .navmenu .menunav{
    color: rgb(207, 55, 212);
}

#home .menunav .logo .logo{
    border: 5px solid black;
    z-index: -1;
}


.menunav .logopcd{
    width: 70px;
    
}



#home .banner{ 
    background-image: url(./imagens/capa.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(243, 235, 239);
    background-size: contain;
    position:absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 500px;
    z-index: -1;

}

#home .navmenu{
    background-color: rgb(247, 239, 244);
}


#home .banner h2 {
    margin-top: 180px;
    color: #fff;
    font-size: 50px;
}


#home .pesquisa {
    margin-top: 480px;
}

#home .pesquisa .container {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    
}

#home .pacotes .container .card {
    height: 241px;
    
    

}

#home .pacotes .encontre{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(13, 13, 14);
}


#home .pacotes .container .card .card_imagem {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    height: 240px;
}

#home .pacotes .container .card .overlay {
    background-color: black;
    opacity: 0.7;
    position:absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

}



#home .pacotes .container .card .iconcard {
    color: white;
    z-index: 2; 
    font-size: 60px;
    text-align: center;
    margin-top: 15%;
}

h6{
    z-index: 3;
    color: white;
}


h5{
    color: rgb(5, 2, 49);
}

#home .btnmaisdestinos{
    margin-top: 20px;
}

#destinos .pacotes .container {
    margin-top: 600px;
}

#destinos .banner h2 {
    margin-top: 180px;
    color: #fff;
    font-size: 50px;
}

#home .faleconosco {
    margin-top: 20px;
    margin-left: 500px;
    
}

#home .cardes{
    margin-top: 20px;
    display: flex;
}

#home .cardes .row{
    display: flex;
    justify-content: center;
}


#promocoes .container{
margin-top: 220px;
margin-right: 30px;

}

#home .btnpesquisar{
    padding-top: 40px;
    
    
}

#home .btnpesquisar .bpequisar{
        background-color: rgb(190, 65, 92);
        border-radius: 25px 20px ;
        width: 50%;
        
}


#promocao .cartao{
    margin-top: 550px;
}

#promocao .cartao .container .btncomprar{
    display: flex;
    justify-content: flex-end;
    
}

#home .icons{
    margin-top: 50px;
}



#home .icons .ic{
    font-size: 50px;
    color: rgb(190, 65, 92);
}

#home .pacotes{
    margin-top:70px;
}


footer .rodape .container{
    margin-top: 50px;
    border-top: 1px solid gray;

}

#vagas .caixa_de_busca .busca .forms{
    border: 1px solid rgb(190, 65, 92);
    border-radius: 25px;
    background-color: rgb(190, 65, 92);
    margin-top: 50px;
    padding: 25px;
}

#home{
    background-color: rgb(243, 235, 239);
}

#vagas{
    background-color: rgb(243, 235, 239);
}

#perfil{
    background-color: rgb(243, 235, 239);
}


#perfil .Login .card{
    width: 100%;
    max-width: 414px;
    padding:30px;
    margin-left: auto;
    border-radius: 25px;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: black 0px 42px 51px -60px;
    margin-bottom: 30px;
    background-color: rgb(190, 65, 92);;
    
    
}

#perfil .Login .card .campo{
    margin-bottom: 40px;
    color: white;
    
    
}

#perfil h3{
    color: white;

}



#perfil .card-link{
    color: white;
}


#perfil .Login .card input{
    margin-top: 5px;
    border-radius: 20px;
    padding: 10px 10px;
    
    
}

#perfil .Login .btn{
    margin: 0 5px;
    background-color: white;
    border-color: white;
    
    
}


#perfil .Login .card .btn_entrar{
    width: 100%;
    background-color: rgb(119, 14, 36);
    border: rgb(119, 14, 36);
    
    
}

#perfil .Login .card .pessoa{
    font-size: 90px;
    text-align: center;
    color: white;
}





#vagas .card .card-header{
    background-color: rgb(190, 65, 92);
    padding: 16px;
    border-radius: 42px 12px;
}

#vagas .card .card-header h4{
    color: white;
    padding: 5px;
    font-size: 28px;

}


#vagas .form-select{
    border-radius: 20px;
    padding: 10px 10px;
}

#vagas .label{
    border-radius: 20px;
    padding: 10px 10px;
}

.forms .campo {
    margin-bottom: 10px;
    color: rgb(247, 241, 241);
    
}

.forms label {
    font-weight: bold;
    margin-bottom: 5px;
}

.forms input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.forms select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
.forms button {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(119, 14, 36);
}

#vagas .card{
    padding: 10px;
    border-radius: 42px 12px;
    box-shadow: black 0px 42px 51px -60px;

}

#vagas .card .candidatar{
    background-color: rgb(190, 65, 92);
    padding: 15px 20px;
    border-radius: 25px 20px ;
} 


.forms button i {
    margin-right: 10px;
}


.btnmaisdestinos .maisvagas{
    text-align: center;
}


.btnmaisdestinos .maisvagas .btnvagas{
        background-color: rgb(190, 65, 92);
        padding: 15px 20px;
        border-radius: 25px 20px ;
        margin-top: 30px;
}


#home .passos .passoapasso{
    margin-bottom: 30px;
}


#home .parceiros .patrocinadores{
    margin-top: 30px;
}


#home .empresas{
    margin-top: 70px;
}

 .rodape .redes a{
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    transition: 0.5s;

}

.rodape .redes a:hover{

    margin-left: 20px;
}

.rodape h3{
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
}

.rodape{
    background-color: rgb(119, 14, 36);
    padding-bottom: 40px
}

#flex{
    position: relative;
}

#nos .card-quem-somos{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(119, 14, 36);    
    float: left;
    
}

#nos .card-quem-somos .top-card .foto{
    width: 20%;
    float: left;
    padding: 10px;
    border-radius: 50px;
    
}

#nos .card-quem-somos .top-card h1{
    width: 70%;
    float: right;
    color: rgb(10, 69, 77);
    font-size: 35px;
    
}

#nos .card-quem-somos .top-card{
    float: left;
    display: flex;
    align-items: center;

}